body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    width: 60px;
    height: 60px;
    background-image: url(cactus.png);
    position: absolute;
    bottom: 0;
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: Arial;
}